@font-face {
  font-family: 'Darkcastle';
  src: url('../fonts/Darkcastle_PERSONAL_USE_ONLY.otf') format('truetype');
}

.header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
  position: relative;
}

.header a {  
  font-family: 'Darkcastle', serif;    
  color: #fff;
  text-decoration: none;
  margin: 0 20px;  
  font-size: small;
}

.header-logo {    
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo img.monster-logo {
  width: 35px; /* 로고 크기 */
  margin-right: 150px;
}

.header-right a {
  font-size: 1.5rem;
}

.header-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
}
