/* 폰트 설정 */
@font-face {
  font-family: 'Darkcastle';
  src: url('../fonts/Darkcastle_PERSONAL_USE_ONLY.otf') format('truetype');
}

/* 슬라이더 전체 컨테이너 */
.product-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;  .product-head h2 {
    font-family: 'Darkcastle', serif;
    font-size: 2.75rem;
    font-weight: lighter;      
  }  
}

/* 슬라이더 전체 */
.product-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 37.5px 0;
  width: 100%;    
}

/* 몬스터 이미지 목록 */
.products {
  display: flex;
  justify-content: center;
  gap: 35px; 
  width: 100%;
}

.products img {
  max-width: 100px;
  height: auto;
  opacity: 0.35; 
  transform: scale(0.85); 
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.products img.hover {
  transform: scale(1.15); 
  opacity: 1; 
  transition: transform 0.75s ease;
}

/* 음료수  */
.product-head {
  text-align: center;  
}

.product-head h2 {
  font-family: 'Darkcastle', serif;
  font-size: 2.75rem;
  font-weight: lighter;  
}


/* 제목 키프레임 */
@keyframes glitch {
  0% {
    text-shadow: 1.5px 1.5px 0 rgba(192, 192, 192, 0.5), -1.5px -1.5px 0 rgba(211, 211, 211, 0.4);
  }
  75% {
    text-shadow: -1px -1px 0 rgba(192, 192, 192, 0.5), 1px 1px 0 rgba(211, 211, 211, 0.4);
  }
  100% {
    text-shadow: 3px 3px 0 rgba(192, 192, 192, 0.5), -3px -3px 0 rgba(211, 211, 211, 0.4);
  }
}

.mainhead-title {
  font-family: "Darkcastle", serif;  
  color: rgb(222, 226, 222); 
  text-align: center;  
  animation: glitch 1.5s infinite; 
  cursor: default;
}

